{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}

<div class="dropdown text-end px-5 pb-2">
    <button class="btn dropdown-toggle background-green m-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Add Teams Will Go Here?
    </button>
    <ul class="dropdown-menu">
        {% for team in teams %}
        
        {% if team.team.id in favorites %}
        
        {% else %}
            <form class="dropdown-item" action=" {% url 'favorite_team' team.team.id %} " method="post">
                {% csrf_token %}
            <input type="submit" value="{{ team.team.name }}">
            </form> 
        
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="container-fluid text-center"><h2 class="text-light px-3 background-red">Favorite Teams</h2></div>
<div class="d-flex justify-content-center flex-column favorite-teams">

    {% for favorite in favorites %}
    {% for team in teams %}
    {% if favorite == team.team.id %}
    <br></br>
    <div class="container text-center" style="width: 50%;">
    <a class="text-decoration-none text-dark d-block h3 px-4" href=" {% url 'team_detail' team.team.id %} "><i class="fa-solid fa-star"></i> {{ team.team.name }}</a>
    <div class="d-flex flex-column justify-content-center">
        <div class="text-center background-green {{ team.team.id }}">
            <p>matchup info</p>
            <p>matchup info line 2</p>
            <p>matchup info line 3</p>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
<br></br>

{% else %}
<p style="height: 100%">You're not logged, log in to add teams</p>
{% endif %}


{% endblock content %}