{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}

<div class="dropdown text-end px-5 pb-2">
    <button class="btn dropdown-toggle background-green m-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Add Teams Will Go Here?
    </button>

        
    <ul class="dropdown-menu">
        {% for team in teams %}
        {% if team.team.id in favorites %}
        {% else %}
            <form class="dropdown-item" action=" {% url 'favorite_team' team.team.id %} " method="post">
                {% csrf_token %}
            <input type="submit" value="{{ team.team.name }}">
            </form> 
        
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="container-fluid text-center"><h2 class="text-light px-3 background-red">Favorite Teams</h2></div>
<div class="d-flex justify-content-center flex-column favorite-teams">

    {% for favorite in favorites %}
    {% for team in teams %}
    {% if favorite == team.team.id %}
    <br></br>
    <div class="container text-center" style="width: 50%;">
    <a class="text-decoration-none text-dark d-block h3 px-4" href=" {% url 'team_detail' team.team.id %} "><i class="fa-solid fa-star"></i> {{ team.team.name }}</a>
    <div class="d-flex flex-column justify-content-center">
        <div class="text-center background-green">
            {% for game in games %}
            
            {% if favorite == game.id %}

                <p>
                    <image src="{{ game.game.teams.home.logo }}"></image> vs. <image src="{{ game.game.teams.away.logo }}"></image>
                </p>
                <p>{{ game.game.fixture.venue.name }}</p>
                <p>{{ game.game.fixture.timestamp|date:"D, F j" }} at {{ game.fixture.timestamp|time:"f A T" }}</p>
                <p>Referee: {{ game.game.fixture.referee }}</p>
                <p>Competition: {{ game.game.league.name }} <image src="{{ game.game.league.logo }}"></image>
                </p>
            {% endif %}
                    
            {% endfor %}
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
<br></br>

{% else %}
<p style="height: 100%">You're not logged, log in to add teams</p>
{% endif %}


{% endblock content %}