{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-center"><image class="py-4" src="{{ team.team.logo }}"></image></div>
        
        <h1 class="text-light px-3 background-red">{{ team.team.name }}</h1>
    </div>


{% if live %}
    <p>{{ team.team.name }} is Live!</p><a href=" {% url 'game_detail' live.0.fixture.id%} ">Follow the game</a>
{% endif %}
    


<form class="text-end m-3" action=" {% url 'remove_team' team.team.id %} " method="post">
    {% csrf_token %}
    <button class="btn remove_fav_btn bg-light color-red" type="submit" value="Remove Favorite 2">Remove Favorite</button>
</form>

<h2 class="background-green text-light text-center m-3 p-1"><em>Upcoming Games</em></h2>
<div class="container justify-content-center">
        {% for game in upcoming %}
        <div class="row text-center justify-content-center container background-red p-2 m-4" style="width: 25%">
            <p class="justify-content-center text-light">{{ game.teams.home.name }} @ {{ game.teams.away.name }}</p>
            <p class="justify-content-center text-light">{{ game.fixture.timestamp|date:"D, F j" }} at {{ game.fixture.timestamp|time:"f A T" }}</p>
            <a class="btn text-decoration-none justify-content-center background-green text-light" style="width: 50%" href=" {% url 'game_detail' game.fixture.id %} ">View Game</a>
            <br>
        </div>
        {% endfor %}
</div>


<h2 class="background-green text-light text-center m-3 p-1"><em>About {{ team.team.name }}</em></h2>
<div class="container mx-auto background-green"></div>
    <div class="row background-red justify-content-center p-2 m-4" style="width: 50%">
        <p class="text-center text-light">Founded: <em>{{ team.team.founded }}</em></p>
        <p class="text-center text-light">Home Field: <em>{{ team.venue.name }}</em></p>
        <p class="text-center text-light">Capacity: <em>{{ team.venue.capacity }}</em></p>
        <image class="text-center background-green p-2" src=" {{ team.venue.image }} "></image>
    </div>
</div>


<h2 class="background-green text-light text-center m-3 p-1"><em>Meet the Squad</em></h2>
<div class="container">
    <div class="row">
        {% for player in squad.players %}
        <div class="col container text-center background-red m-2">
            <image class="py-2" src=" {{ player.photo }} "></image>
            <p class="row justify-content-center text-light">#{{ player.number }} {{ player.name }}</p>
            <p class="row justify-content-center text-light">{{ player.position }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    