{% extends 'base.html' %}


{% block content %}
<div class="container-fluid text-center">
    <div class="d-flex justify-content-center"><image class="py-4" src="{{ team.team.logo }}"></image></div>  
    <h1 class="text-light px-3 rounded background-red">{{ team.team.name }}</h1>
</div>
<div class="row justify-content-center">
    <h2 class="col background-green text-light text-center rounded m-3 p-1" style="max-width: 80%;"><em>Recent Result</em></h2>
</div>
{% if live %}
    <p>{{ team.team.name }} is Live!</p><a href=" {% url 'game_detail' live.0.fixture.id%} ">Follow the game</a>
{% endif %}
<div class="row d-flex justify-content-center background-red mx-2 rounded py-2">
    <div class="col-4 d-flex justify-content-center">
        <div class="row d-flex flex-column justify-content-center text-center">
            <a class="text-decoration-none" href="{% url 'team_detail' last.teams.home.id %}">
                <image class=img-fluid src=" {{ last.teams.home.logo }} "></image>
                <p class="fw-bold text-light">{{ last.teams.home.name }}</p>
            </a>
        </div>
    </div>

    <div class="col-4 d-flex flex-column justify-content-center text-center">
        <p class="fw-bold text-light" style="font-size:150%">{{ last.goals.home }} - {{ last.goals.away }}</p>
        <a href="{% url 'game_detail' last.fixture.id %}"
            class="btn team_view_game_btn background-green text-light">View Game</a>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="row d-flex flex-column justify-content-center text-center">

            <a href="{% url 'team_detail' last.teams.away.id %}" class="text-decoration-none">
                <image class=img-fluid src=" {{ last.teams.away.logo }} "></image>
                <p class="fw-bold text-light">{{ last.teams.away.name }}</p>
            </a>

        </div>
    </div>
</div>
<ul class="nav nav-pills justify-content-center rounded text-center m-4" id="pills-tab" role="tablist">
    <li class="nav-item background-red" role="presentation">
      <button class="nav-link active text-light" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upcoming Games</button>
    </li>
    <li class="nav-item background-red" role="presentation">
      <button class="nav-link text-light" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">About {{ team.team.name }}</button>
    </li>
    <li class="nav-item background-red" role="presentation">
      <button class="nav-link text-light" id="pills-roster-tab" data-bs-toggle="pill" data-bs-target="#pills-roster" type="button" role="tab" aria-controls="pills-roster" aria-selected="false">Roster</button>
    </li>
  </ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row justify-content-center">
            <h2 class="col background-green text-light text-center rounded m-3 p-1" style="max-width: 80%;"><em>Upcoming Games</em></h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            {% for game in upcoming %}
            <div class="col-10">
            <div class="card background-red">
                <div class="card-body text-center">
                    <p class="text-light h4 mt-2">
                        <image style="height:60px" src="{{ game.teams.home.logo }}"></image> <span>{{ game.teams.home.name }}</span> 
                        vs. <span>{{ game.teams.away.name }}</span> <image style="height:60px" src="{{ game.teams.away.logo }}"></image>
                    </p>
                    <p class="text-light"><i class="fa-regular fa-calendar"></i> {{ game.fixture.timestamp|date:"D, F j" }} at {{ game.fixture.timestamp|time:"f A T" }}</p>
                    <p class="text-light"><i class="fa-solid fa-location-pin"></i> {{ game.fixture.venue.name }} ({{ game.teams.home.name }})</p>
                    <p class="text-light"><i class="fa-solid fa-futbol"></i> Competition: {{ game.league.name }}</p>
                    <a class="btn text-decoration-none justify-content-center team_view_game_btn background-green text-light" href=" {% url 'game_detail' game.fixture.id %} ">View Game</a>
                </div>
            </div>
            </div>
    {% endfor %}
        </div>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row justify-content-center">
            <h2 class="col background-green rounded text-light text-center m-3 p-1" style="max-width: 80%;"><em>About {{ team.team.name }}</em></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 align-self-center mb-1">
                <div class="card background-green rounded">
                    <img class="text-center p-2 rounded" src=" {{ team.venue.image }} "></img>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 align-self-center">
                <div class="card background-red">
                    <h3 class="text-center text-light card-title">{{ team.team.name }}</h3>
                    <div class="card-body">
                        <p class="text-center card-text text-light"><strong>Founded: <em>{{ team.team.founded }}</em></strong></p>
                        <p class="text-center card-text text-light"><strong>Home Field: <em>{{ team.venue.name }}</em></strong></p>
                        <p class="text-center card-text text-light"><strong>Capacity: <em>{{ team.venue.capacity }}</em></strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-roster" role="tabpanel" aria-labelledby="pills-roster-tab">
        <div class="row justify-content-center">
            <h2 class="col background-green text-light text-center rounded m-3 p-1" style="max-width: 80%;"><em>Meet the Squad</em></h2>
        </div>
        <div class="container">
            <div class="row justify-content-center">
            <div class="container-fluid py-2">
                <div class="d-flex flex-row flex-nowrap" style="overflow:scroll;">
                    {% for player in squad.players %}
                    <div class="col-sm-6 col-md-3 col-lg-2 container rounded text-center background-red m-2" style="min-width:140px">
                        <image class="text-center py-2 rounded" style="max-width: 95%;" src=" {{ player.photo }} "></image>
                        <p class="row justify-content-center text-light">#{{ player.number }} {{ player.name }}</p>
                        <p class="row justify-content-center text-light">{{ player.position }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<form class="text-center" action=" {% url 'remove_team' team.team.id %} " method="post">
    {% csrf_token %}
    <button class="btn remove_fav_btn bg-danger text-light m-4" style="min-width: 20%" type="submit" value="Remove Favorite 2">Remove {{ team.team.name }} from Favorites</button>
</form>
{% endblock content %}
    