/* logo with text https://i.imgur.com/bQIOr4Y.png
logo without text https://i.imgur.com/9R5zbN5.png */

.color-red { 
    color: #A05F75;
}
.background-red { 
    background-color: #A05F75;
}
.color-green { 
    color: #5FA08A;
}
.background-green { 
    background-color: #5FA08A;
}
.background-grey { 
    background-color: #d3d3d3;
}
.fa-star { 
    color: #A05F75;
}
.fa-location-pin {
    color: #000000;
}
.fa-calendar {
    color: #000000;
}
.fa-futbol {
    color: #000000;
}
.home_view_game_btn:hover {
    background-color: #ffffff;
    color: #A05F75 !important;
    border-color: #A05F75 !important;
}
.add_fav_btn:hover {
    background-color: #ffffff;
    border-color: #5FA08A !important;
    color:#5FA08A !important;
}
.remove_fav_btn:hover {
    background-color: #ffffff !important;
    color: #dc3545 !important;
}
.fav_team_home:hover {
    color: #A05F75 !important;
}

.m-n1 {
    margin-top: -50px !important;
    margin-bottom: -50px !important;
}
.league-image { 
    height: 5vh; 
    width: auto;
}
.nav-item {
    text-align: right;
}
.nav-pills .nav-item .nav-link.active {
    background-color: #ffffff;
    color: #A05F75 !important;
}
.team_view_game_btn:hover {
    background-color: #ffffff;
    color: #5FA08A !important;
    border-color: #5FA08A !important;
}